[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
gunicorn = "==20.0.4"
pytest = "==5.4.2"
pytest-cov = "==2.8.1"
flake8 = "==3.7.9"
psycopg2 = "==2.8.5"
flask-static-digest = "*"
flask-migrate = "*"
Flask = "*"
Werkzeug = "*"
Flask-SQLAlchemy = "*"
SQLAlchemy-Utils = "*"
Flask-DebugToolbar = "*"
Flask-Mail = "*"
Faker = "==4.1.0"
pytz = "*"
python-dotenv = "*"
pymysql = "*"
flask-classful = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
flask-jwt-extended = "*"
flask-cors = "*"
pandas = "*"
cryptography = "*"

[requires]
python_version = "3"
