[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = ">=2.0.1"
flake8 = ">=6.0.0"
pytest-cov = ">=4.0.0"

[packages]
gunicorn = ">=20.1.0"
psycopg2 = ">=2.9.5"
flask-migrate = ">=4.0.1"
Flask = "==2.1.2"
Werkzeug = "==2.1.2"
Flask-SQLAlchemy = "==2.5.1"
SQLAlchemy-Utils = ">=0.39.0"
Flask-Mail = ">=0.9.1"
Faker = ">=15.3.4"
pytz = ">=2022.7"
python-dotenv = ">=0.21.0"
flask-classful = ">=0.14.2"
flask-marshmallow = ">=0.14.0"
marshmallow-sqlalchemy = "0.28.1"
flask-jwt-extended = ">=4.4.4"
flask-cors = ">=3.0.10"
cryptography = ">=39.0.0"
flask-classful-apispec = ">=0.2.0"
apispec = ">=6.0.2"
pytest = ">=7.2.0"
webargs = ">=8.2.0"
pymysql = ">==1.0.2"
