[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
gunicorn = "*"
psycopg2 = "*"
flask-migrate = "*"
Flask = "*"
Werkzeug = "*"
Flask-SQLAlchemy = "*"
SQLAlchemy-Utils = "*"
Flask-Mail = "*"
Faker = "*"
pytz = "*"
python-dotenv = "*"
pymysql = "*"
flask-classful = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
flask-jwt-extended = "*"
flask-cors = "*"
cryptography = "*"
flask-classful-apispec = "*"
apispec = "*"
pytest = "*"
flake8 = "*"
pytest-cov = "*"
webargs = "*"
