// Bootstrap functions.
@import '~bootstrap/scss/functions';

// Bootstrap variables (this must come after your custom Bootstrap overrides).
@import '~bootstrap/scss/variables';

// Bootstrap, check out what each one does at:
//   https://github.com/twbs/bootstrap/tree/v4.4.1/scss
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/root';
@import '~bootstrap/scss/reboot';
@import '~bootstrap/scss/type';
@import '~bootstrap/scss/images';
@import '~bootstrap/scss/code';
@import '~bootstrap/scss/grid';
@import '~bootstrap/scss/tables';
@import '~bootstrap/scss/forms';
@import '~bootstrap/scss/buttons';
@import '~bootstrap/scss/transitions';
@import '~bootstrap/scss/dropdown';
@import '~bootstrap/scss/button-group';
@import '~bootstrap/scss/input-group';
@import '~bootstrap/scss/custom-forms';
@import '~bootstrap/scss/nav';
@import '~bootstrap/scss/navbar';
@import '~bootstrap/scss/card';
//@import '~bootstrap/scss/breadcrumb';
@import '~bootstrap/scss/pagination';
@import '~bootstrap/scss/badge';
//@import '~bootstrap/scss/jumbotron';
@import '~bootstrap/scss/alert';
@import '~bootstrap/scss/progress';
@import '~bootstrap/scss/media';
@import '~bootstrap/scss/list-group';
@import '~bootstrap/scss/close';
@import '~bootstrap/scss/toasts';
@import '~bootstrap/scss/modal';
@import '~bootstrap/scss/tooltip';
@import '~bootstrap/scss/popover';
@import '~bootstrap/scss/carousel';
@import '~bootstrap/scss/spinners';
@import '~bootstrap/scss/utilities';
@import '~bootstrap/scss/print';

// Font Awesome.
$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
//@import '~@fortawesome/fontawesome-free/scss/brands.scss';
@import '~flatpickr/dist/flatpickr.min.css';

@import 'modules/scss/table';
@import 'modules/scss/todo';

/* Layout
------------------------------------------------ */
body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100vh;

  .title {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 1rem 0;
    padding: 0;

    @media (min-width: 576px) {
      margin-bottom: 2rem;
    }

    h1 {
      flex: 1;
      font-size: 2rem;
      font-weight: 800;
      margin: 0;

      @media (min-width: 576px) {
        font-size: 2.5rem;
      }
    }
  }

  .footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.5rem 1rem;
  background-color: #f5f5f5;
  text-align: center;
}
}
